@font-face {
    font-family: 'BelweBold'; 
    src: url('../fonts/belwe-bold-bt.ttf') format('opentype');
  }
  
body{
    background-image: url(../img/fondohs2.jpg);
    background-size: auto;
    background-position: center top;
    font-family: 'BelweBold',sans-serif;

}
.principal{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto auto auto;
}
.contenedor{
    background-image: url(../img/pergamino.avif);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 2 / 3;
    grid-row: span 3;
    width:100%;
    opacity: 0; /* Comienza con opacidad 0 para que esté oculto */
    animation: aparecer 2s forwards; /* Utiliza la animación 'aparecer' durante 2 segundos */
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}
@keyframes aparecer {
    from {
        opacity: 0; /* Empieza con opacidad 0 */
    }
    to {
        opacity: 1; /* Termina con opacidad 1 (totalmente visible) */
    }
}
.contenedor header{
    display: flex;
    justify-content: space-between;
}
.logo {
    height:80%;
    margin-top:-2%;
    width: 35%;
    margin-left:3%;
    cursor:pointer;
}
header div{
    margin-top: 1%;
    margin-right: 2%;
}
header div input {
    width:80%;
    height:20%;
}
.lupa{
    font-size: 200%;
    margin-top:20%;
    margin-right:10%;
    cursor:pointer;
}
.contenedor main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.resultado-cartas{
    margin-right: 7%;
    margin-top:10%;
    justify-self: center;
    display: grid;
    grid-template-columns: 15% 15% 15%;
    column-gap: 10%;
    grid-template-rows: auto;
    justify-content: center;
}
.galeria{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-items: center;
}
.imagen{
    cursor:pointer;
    margin-top: 5%;
}
#im1 span{
    opacity: 0;
}
#im1:hover > img{
    animation: cambio-color 0.5s linear forwards;
}
#im1:hover > span{
    animation: aparecer 0.5s linear forwards;
}
#im2 span{
    opacity: 0;
}
#im2:hover > img{
    animation: cambio-color 0.5s linear forwards;
}
#im2:hover > span{
    animation: aparecer 0.5s linear forwards;
}
#im3 span{
    opacity: 0;
}
#im3:hover > img{
    animation: cambio-color 0.5s linear forwards;
}
#im3:hover > span{
    animation: aparecer 0.5s linear forwards;
}
#im4 span{
    opacity: 0;
}
#im4:hover > img{
    animation: cambio-color 0.5s linear forwards;
}
#im4:hover > span{
    animation: aparecer 0.5s linear forwards;
}
#im5 span{
    opacity: 0;
}
#im5:hover > img{
    animation: cambio-color 0.5s linear forwards;
}
#im5:hover > span{
    animation: aparecer 0.5s linear forwards;
}
#im6 span{
    opacity: 0;
}
#im6:hover > img{
    animation: cambio-color 0.5s linear forwards;
}
#im6:hover > span{
    animation: aparecer 0.5s linear forwards;
}
@keyframes cambio-color {
  from {
    
  }
  to {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
  }
}
@keyframes aparecer {
    from {
      opacity:0
    }
    to {
      opacity: 1;
    }
}
.imagen img {
    width:100%;
    height: 100%;
    margin-left:-5%;
}
#im4{
    margin-left:25%;
}
#im4 span{
    margin-left:-10%;
}
#im5 span{
    margin-top:30%;
    margin-left:10%;
}
#im6 span{
    margin-left:5%;
}
.imagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#im5 img{
    height: 75%;
}
footer{
    margin-top:20%;
    justify-self: center;
}
.minombre{
    color:lightslategray;
}
.subtitulofooter{
    text-align: center;
}
.gif {
    justify-self: center;
    margin-top: 5%;
}
.carta {
    cursor: pointer;
    width: 150%;
    height: 100%;
}
.contenedorgaleria {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-items: center;
}
.footergaleria {
    justify-self: center;
    margin-top: 10%;
    color: lightslategray;
    font-size:40px;
    display: flex;
    gap:5%;
}
.spanfootergaleria{
    cursor:pointer;
}
.spanfootergaleria:hover{
    animation: cambio-color-span 0.5s linear forwards;
}
@keyframes cambio-color-span{
    from{

    }
    to{
        color:aquamarine;
    }
}
.contenedorfootergaleria{
    display: flex;
    justify-items: center;
    flex-direction: column;
}
.divselectgaleria{
    margin-top:20%;
    width:100%;
}
    select {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 32px 8px 16px;
    font-size: 16px;
    appearance: none; /* Para quitar los estilos del sistema */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23000" width="18px" height="18px"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>'); /* Icono flecha hacia abajo */
    background-repeat: no-repeat;
    background-position: right 8px center;
  }
  
  select:focus {
    outline: none;
    border-color: #007bff; /* Cambia el color del borde cuando está enfocado */
  }
  
  select option {
    background-color: #fff;
    color: #000;
    cursor:pointer;
  }
.contenedorInfoCarta {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
}
.tituloInfoCarta{
    font-size:25px;
    border-bottom:2px solid black;
}
.divInfoCarta{
    margin-left:15%;
    margin-right:10%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-size:20px;
}
.divInfoCarta div span {
    color: lightskyblue;
}
.check{
    display:flex;
    flex-direction: row;
    justify-items: center;
    gap: 10%;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
header div{
    display: flex;
    flex-direction: row;
    gap:20%;
}
.favoritos{
    font-size: 35px;
    margin-top: 18%;
    cursor: pointer;
}
.contenedorfavoritos{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns:  auto;
    justify-items: center;
}
.titulofavoritos{
    border-bottom: 1px solid black;
}
.divBusqueda{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
}
.search-container {
    display: flex;
    align-items: center;
    width: 60%; 
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden; 
  }
  
  .search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
  }
  
  .search-button {
    border: none;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  .divResultadoBusqueda{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    background-color: white;
    width:60%;
    cursor:pointer;
    justify-items: center;
    align-items: center;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
  }
  .divResultadoBusqueda:hover{
    background-color: #2196F3;
  }
  .divResultadoBusqueda img{
    width:60%;
    height:60%;
  }
  .divDescripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .divNoFavs{
    text-align: center;
    margin-top:10%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 25px;
    justify-content: center;
  }

  
  
  
